<!-- Import du Header en EJS -->
<%- include('../shared/_header.ejs') %>

        <h1>Page de contact</h1>

        <div class="formulaire">
                <h2>Formulaire :</h2>
        
                <form method="post">
                        <div>
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email" required>
                        </div>
                        <div>
                                <label for="pseudo">Pseudo</label>
                                <input id="pseudo" name="pseudo" type="text">
                        </div>
                        <div>
                                <label for="message">Message</label>
                                <textarea id="message" name="message" cols="30" rows="10"></textarea>
                        </div>
                        <div>
                                <button type="submit">Envoyer</button>
                        </div>
                </form>
        </div>

   
<!-- Import du Footer en EJS -->
<%- include('../shared/_footer.ejs') %>
