<!-- Import du Header en EJS -->
<%- include('../shared/_header.ejs') %>

        <h1>Page d'accueil</h1>

        <div class="div_img">
                <img class="welcome" src="/images/pngegg.png" alt="Welcome picture">
        </div>
   
<!-- Import du Footer en EJS -->
<%- include('../shared/_footer.ejs') %>
