<!-- Import du Header en EJS -->
<%- include('../shared/_header.ejs') %>

        <h1>Homepage Recettes</h1>

        <h2>Liste de recette :</h2>
        <ul class="formUl">
                <% for(const data of dataRecipe) { %>
                        <li>  <%= data.id + ' - ' + data.recipeName %>  </li>
                    <% } %>
        </ul>
   
<!-- Import du Footer en EJS -->
<%- include('../shared/_footer.ejs') %>
