<!-- Import du Header en EJS -->
<%- include('../shared/_header.ejs') %>

        <h1>Recettes</h1>

        <h2>Merci pour votre recette de : <span id="bold"><%= name %></span></h2>


   
<!-- Import du Footer en EJS -->
<%- include('../shared/_footer.ejs') %>
