<%- include('../shared/_header.ejs') %>

<h1>Page d'accueil</h1>
<p>Bienvenue <%=pseudo ?? '🦆' %></p>

<img class="welcome" alt="Welcome image" src="/images/welcome.jpg" />

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ipsa, dolor asperiores rem id doloribus aperiam. Quasi dignissimos enim fugiat praesentium magni, ipsa nulla provident repellendus eaque quibusdam itaque totam.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ad, necessitatibus sint fuga quo deleniti et maxime reiciendis corporis vitae libero. Fugit nesciunt optio fuga sequi facilis maxime ad beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quidem non ab quos veniam culpa est, delectus labore dolor quis commodi exercitationem enim? Assumenda cupiditate dolor a asperiores, laboriosam libero!</p>

<%- include('../shared/_footer.ejs') %>